:root {
  --greenPrimary: #00732E;
  --greenSecundary: #00a040;
  --white: #FFFFFF;
}

.bg-green {
  background: var(--greenPrimary) !important;
}

.dropdown-menu.show {
  right: 0 !important;
  left: inherit !important;
}


header {
  position: sticky;
  top: 0;
}

.navbar-sav {
  display: flex;
  justify-content: space-between;
  background: var(--grey);
  height: 60px;
}

.navbar-contain-title {
  position: relative;
  width: 300px;
  background: var(--greenPrimary);
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}

.navbar-title-sav {
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  
}


.navbar-content-sav {
  width: calc(100%);
  /* background: coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.navbar-item-sav {
  color: white;
  text-decoration: none;
  list-style: none;
}

.navbar-menu-sav {
  font-size: 2rem;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-sav {
  width: 300px !important;
  top: 60px !important;
  background: var(--greenPrimary);
}

.sidenav-list-sav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav-list-sav li:last-child{
  border-bottom-width: 0.5px;
}

.sidenav-item-sav {
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  padding-left: 1.5rem;
  border: 0px solid white;
  border-top-width: 0.5px;
}


.sidenav-item-sav.active {
  background: var(--greenSecundary);
}


.sidenav-item-sav a {
  text-decoration: none !important;
  color: white !important;
  width: 100%;
}

.sidenav-item-sav a i {
  color: white;
  margin-right: 1.5rem;
}

.sidenav-img{
  width: 100%;
}

.container-sav {
  padding: 0 5rem;
  transition: padding 0.5s ease-in-out;
}

.container-sav.active {
  padding-left: calc(300px + 5rem);
  transition: padding 0.5s ease-in-out;
}

.container-btn-round-sav {
  position: fixed;
  right: calc(100vw - 95%);
  bottom: calc(100vh - 93%);
  width: 50px;
  height: 50px;
  
}

.container-btn-round-sav a {
  text-decoration: none;
}

.btn-round-sav {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--greenPrimary);
}

.btn-round-sav i {
  display: flex;
  color: var(--white);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

a.edit {
  background: #31be00;
  color: #ffffff;
}

a.delete {
  background: #ff5353;
  color: #ffffff;
}

a.print {
  background: #e3da00;
  color: #ffffff;
}

a.watch {
  background: #0092e3;
  color: #ffffff;
}

.btn.btn-agregar {
  background: var(--greenPrimary);
  color: #ffffff;
}

.btn.btn-eliminar {
  background: #ff5353;
  color: #ffffff;
}

.btn.btn-cancelar {
  background: #d3d3d3;
  color: #ffffff;
}

.container-delete-sav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.card-sav {
  background: var(--greenPrimary);
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  .container-btn-round-sav {
    position: fixed;
    right: calc(100vw - 95%);
    bottom: 20px;
    width: 50px;
    height: 50px;
  }
}